extends ../public/_layout
block title
  title DBCL-5-账户合并失败
block container
  .pa.container
    .pa.icon.status-icon.fail.fail1
    .pa.status-info.fail.tc 账户合并失败！
    .pa.info.inf3
      em.text-white ｛失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因｝
      em.text-gray 若有疑问请拨打客服热线96335咨询。
    a.pa.btn.btn-ps.btn-confirm(href="#" onfocus="showdiv('btn')" onblur="closediv('btn')")
      img(src="../static/images/p135_ok_btn.gif")
    div.pa.btn.btn-ps.btn-confirm.nom
    div#btn.pa.btn.btn-ps.btn-confirm.focus(style="visibility:hidden;")