extends ../public/_layout
block title
  title DBCL-2-信息二次确认(业务开通）
block container
  .pa.container
    .pa.info.inf9.text-white
      em 请确认以下订单信息：
    .pa.icon.icon-tv
      .pa.icon-tv-text.tc 芒果TV
    .pa.vod-info
      p.vod-title
        em.text-white 伪装者
      p.small
       em.text-white 单价：20.00元/月
      p.small
       em.text-white 时长：2个月
      p.small
        em.text-yellow 总计：40.00
        em.text-white 元
    .pa.inf10
      p.sum-info
        em.text-white 您的账户余额20.00元，可用透支额度150.00元。
      p.small
        em.text-gray 确认付款后费用将从您的账户中扣除，详情请咨询客服热线96335。
    a.pa.btn.btn-pay(href="#" onfocus="showdiv('btn')" onblur="closediv('btn')")
      img(src="../static/images/132_btn_pay.png")
    div.pa.btn.btn-pay.nom
    div#btn.pa.btn.btn-pay.focus(style="visibility:hidden;")